<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fim do Jogo</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Parabéns!</h1>
        <p>Você completou o jogo! Aqui está sua surpresa especial:</p>
        <div class="sp">
            <img class="surpresa" src="static/gifs/image (9).png"/>
        </div>
    </div>
</body>
</html>
