<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início do Jogo</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Bem-vindo ao Jogo</h1>
        <img class="amoor" src="static/gifs/image (8).png"/>
        <div class="gamer">
            <a href="/question/1" class="btn">Começar</a>
        </div>
    </div>
</body>
</html>
